<h1>Home</h1>

<div id="editor">some text</div>

<script> 
  var editor = ace.edit("editor");
  var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
  editor.getSession().setMode(new JavaScriptMode());
</script>
